<div id="content">
  <section id="list">
    <%= render :partial => "spaetis" %>
  </section>
  <section id="detail">
    <%= render :partial => 'show' %>
  </section>
  <div class="clearfix"></div>
</div>
<section id="form"><%= render :partial => 'form' %></section>
