<div id="content">
  <section id="list">
    <div>
        <%= render :partial => 'spaetis' %>
    </div>
  </section>
  <section id="detail">
    <div class="new">
      <%= render :partial => 'formnew' %>
    </div>
  </section>
  <div class="clearfix"></div>
</div>
