  <div id="comments_list">
    <% @comments.each do |comment| %>
        <p class="comment"><%= comment.comment %></p>
    <% end %>
  </div>
  <div id="comment_new">
    <%= render :partial => 'comments/form' %>
  </div>