<% if @spaeti_products.count > 0 %>
    <ul>
      <% @spaeti_products.each do |product| %>
          <li class="product" data-id="<%= product.id %>"><%= product.name %></li>
      <% end %>
    </ul>
<% end %>