@charset "utf-8";
@import "reset.css" all;
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic,500italic,700italic) all;
/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html {
    background: #ffffff;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
	background-color: #f2f2f2;
	background-color: rgba(242, 242, 242, 1);
	color: #4d4d4d;
	color: rgba(77, 77, 77, 1);
}

a {
	outline: none;
	text-decoration: none;
}

ul, li {
    list-style: none;
}

h1 {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 60px;
    padding:  0 15px;
    font-size: 22px;
    font-style: italic;
}

h2 {
    padding: 0 0 8px;
    font-size: 26px;
}

p {
    padding: 3px 5px;
    vertical-align: middle;
}

input[type="text"] {
    outline: none;
    font-family: 'Ubuntu', sans-serif;
    padding: 5px 3px;
	color: #4d4d4d;
	color: rgba(77, 77, 77, 0.5);
	background-color: #f2f2f2;
	background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid;
    border-color: #000000;
    border-color: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

input[type="submit"] {
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
    font-weight: bold;
    padding: 8px 15px;
    margin-top: 15px;
    text-align: right;
	color: #ffffff;
	color: rgba(255, 255, 255, 1);
    background-color: #D14836;
    background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
    background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
    background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
    background-image: -o-linear-gradient(top,#dd4b39,#d14836);
    background-image: linear-gradient(top,#dd4b39,#d14836);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: 1px solid #D14836;
    outline: 0 transparent;
}

form {
    padding: 3px 0;
}
form.edit_rate {
    display: inline-block;
}
form.edit_rate p {
    display: none;
}
form input[type="text"] {
    margin-right: 10px;
    margin-bottom: 3px;
	color: rgba(77, 77, 77, 0.8);
	background-color: rgba(242, 242, 242, 1);
}
form input#spaeti_name {
    font-size: 26px;
}
form.search input[type="text"] {
    width: 400px;
    font-size: 17px;
}
input[type="text"]:focus {
    outline: none;
	color: rgba(77, 77, 77, 1);
	background-color: rgba(255, 255, 255, 1);
    border-color: rgba(0, 0, 0, 1);
}
form.search {
    position: relative;
    padding: 8px 0;
}
form.search input[type="submit"] {
    margin-top: 0;
    margin-left: 15px;
    background: #4f85bb; /* Old browsers */
    background: -moz-linear-gradient(top, #4f85bb 0%, #4f85bb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f85bb), color-stop(100%,#4f85bb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4f85bb 0%,#4f85bb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4f85bb 0%,#4f85bb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4f85bb 0%,#4f85bb 100%); /* IE10+ */
    background: linear-gradient(top, #4f85bb 0%,#4f85bb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#4f85bb',GradientType=0 ); /* IE6-9 */
}

header {
    height: 120px;
}
header div#search {
    height: 55px;
    padding-top: 25px;
    margin-left: 20px;
}

div#flash_notice {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    height: 30px;
    width: 300px;
    margin-left: -150px;
    line-height: 30px;
    text-align: center;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.75);
    color: #ffffff;
    border: 1px solid #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 10;
}

div#spaeti_errors, div#newspaeti_errors {
    display: none;
    position: fixed;
    left: 75%;
    bottom: 10px;
    width: 400px;
    margin-left: -200px;
    line-height: 30px;
    text-align: center;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.75);
    color: #ffffff;
    border: 1px solid #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 10;
}

div#content {
	background-color: #ffffff;
	background-color: rgba(255, 255, 255, 1);
}

section {
    display: inline-block;
    padding:  15px;
}
section#list {
    width: 630px;
    float: left;
}
section#list div.item {
    position: relative;
    padding: 8px 5px;
    margin:  12px 0;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
section#list div.item div.info a {
    display: block;
    font-size: 24px;
}
section#list div.item div.commands {
    display: none;
    position: absolute;
    right: 5px;
    top: 8px;
    line-height: 28px;
    z-index: 10;
}
section#list div.item div.commands a {
    opacity: 0.55;
}
section#list div.item:hover div.commands {
    display: block;
}
section#list div.item div.commands a:hover {
    opacity: 1;
}
section#detail {
    min-width: 450px;
    padding-left: 0;
    padding-top: 10px;
}
section#detail div.details div#spaeti h2 {
    display: inline;
    margin-right: 15px;
}
section#detail div.details div#spaeti div#rate {
    display: inline;
}
section#detail div.details div#spaeti div#rate span {
    cursor: pointer;
}
section#detail > div p {
    padding: 3px 5px 5px 0px;
}
section#detail > div.new, section#detail > div.edit {
    height: 0;
    display: none;
}
section#detail div#comments {
	background-color: #4d4d4d;
	background-color: rgba(77, 77, 77, 0.25);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
section#detail div#comments_list p.comment {
    margin: 10px 15px;
    padding: 12px 10px;
    line-height: 18px;
    font-size: 14px;
    font-style: italic;
	background-color: #ffffff;
	background-color: rgba(242, 242, 242, 0.4);
    border: 1px solid;
    border-color: #999999;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
section#detail div#comment_new {
    margin: 10px 15px;
}
section#detail div#comment_new form textarea {
    width: 320px;
    margin-top: 5px;
    padding: 10px;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-style: italic;
	color: #4d4d4d;
	color: rgba(77, 77, 77, 0.5);
	background-color: #f2f2f2;
	background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid;
    border-color: #000000;
    border-color: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
section#detail div#comment_new form textarea:focus {
    outline: none;
	color: rgba(77, 77, 77, 1);
	background-color: rgba(255, 255, 255, 1);
    border-color: rgba(0, 0, 0, 0.7);
}
section#detail div.error_messages h2 {
    padding: 2px 0 4px;
    font-size: 18px;
}
section#detail div.error_messages p {
    padding: 1px 5px 2px;
    line-height: 14px;
}
section#detail div.error_messages li {
    line-height: 14px;
}