@charset "utf-8";
@import "reset.css" all;
@import url(http://fonts.googleapis.com/css?family=Convergence) all;
/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body, html {
    width: 100%;
    height: 100%;
    overflow:  hidden;
    font-family: 'Convergence', sans-serif;
    font-size: 12px;
	background-color: #f2f2f2;
	background-color: rgba(242, 242, 242, 1);
	color: #4d4d4d;
	color: rgba(77, 77, 77, 1);
}

a {
	outline: none;
	text-decoration: none;
}

ul, li {
    list-style: none;
}

h1 {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 60px;
    padding:  0 15px;
    font-size: 22px;
    font-style: italic;
}

h2 {
    padding: 0 0 8px;
    font-size: 26px;
}

p {
    padding: 3px 5px;
    vertical-align: middle;
}

input[type="text"] {
    outline: none;
    font-family: 'Convergence', sans-serif;
	color: #4d4d4d;
	color: rgba(77, 77, 77, 0.5);
	background-color: #f2f2f2;
	background-color: rgba(242, 242, 242, .3);
    padding: 5px 3px;
    margin-right: 10px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

input[type="text"]:focus {
    outline: none;
    font-family: 'Convergence', sans-serif;
	color: #4d4d4d;
	color: rgba(77, 77, 77, 1);
	background-color: #f2f2f2;
	background-color: rgba(255, 255, 255, 1);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

input[type="submit"] {
    font-family: 'Convergence', sans-serif;
    font-size: 10px;
    font-weight: bold;
    padding: 8px 15px;
    margin-top: 15px;
    text-align: right;
	color: #ffffff;
	color: rgba(255, 255, 255, 1);
    background-color: #D14836;
    background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
    background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
    background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
    background-image: -o-linear-gradient(top,#dd4b39,#d14836);
    background-image: linear-gradient(top,#dd4b39,#d14836);
    border: 1px solid white;
    border: 1px solid transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: 1px solid #D14836;
    outline: 0 transparent;
}

form {
    position: relative;
    margin-top: 3px;
}
form.edit_spaeti input#spaeti_name {
    width: 100%;
    font-size: 26px;
}

header {
    height: 120px;
}
header div {
    height: 20px;
    padding-top: 95px;
    margin-left: 20px;
}

div#flash_notice {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    height: 30px;
    width: 300px;
    margin-left: -150px;
    line-height: 30px;
    text-align: center;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.75);
    color: #ffffff;
    border: 1px solid #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 10;
}

div#spaeti_errors {
    display: none;
    position: fixed;
    left: 75%;
    bottom: 10px;
    width: 400px;
    margin-left: -200px;
    line-height: 30px;
    text-align: center;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.75);
    color: #ffffff;
    border: 1px solid #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 10;
}

div#container {
    width: 100%;
    height: 100%;
    overflow:  hidden;
}

div#content {
    width: 100%;
    height: 100%;
    clear: both;
	background-color: #ffffff;
	background-color: rgba(255, 255, 255, 1);
}

section {
    height: 100%;
    padding:  15px;
}
section#new {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    margin-left: -50%;
    margin-top: -50%;
    padding:  0;
    z-index: -1;
    background-color: #000000;
	background-color: rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 0 35px 15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 35px 15px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 35px 15px rgba(0, 0, 0, 0.5);
}
section#new div.inner {
    position: relative;
    width: 400px;
    margin: 10% auto 0;
    padding:  15px;
    z-index: 21;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-image: linear-gradient(bottom, rgb(177,194,219) 32%, rgb(213,233,255) 66%, rgb(255,255,255) 83%);
    background-image: -o-linear-gradient(bottom, rgb(177,194,219) 32%, rgb(213,233,255) 66%, rgb(255,255,255) 83%);
    background-image: -moz-linear-gradient(bottom, rgb(177,194,219) 32%, rgb(213,233,255) 66%, rgb(255,255,255) 83%);
    background-image: -webkit-linear-gradient(bottom, rgb(177,194,219) 32%, rgb(213,233,255) 66%, rgb(255,255,255) 83%);
    background-image: -ms-linear-gradient(bottom, rgb(177,194,219) 32%, rgb(213,233,255) 66%, rgb(255,255,255) 83%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.32, rgb(177,194,219)), color-stop(0.66, rgb(213,233,255)), color-stop(0.83, rgb(255,255,255)));
}
section#list {
    width: 50%;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}
section#list div.item {
    position: relative;
    padding: 8px 5px;
    margin:  12px 0;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
section#list div.item div.info a {
    display: block;
    font-size: 24px;
}
section#list div.item div.commands {
    display: none;
    position: absolute;
    right: 5px;
    top: 8px;
    line-height: 28px;
    z-index: 10;
}
section#list div.item:hover div.commands {
    display: block;
}
section#detail {
    overflow: hidden;
    padding-left: 0;
    padding-top: 10px;
}
section#detail > div {
    width: 100%;
    height: 100%;
}
section#detail > div p {
    padding: 3px 5px 5px 0;
}