<% if @spaeti_features.count > 0 %>
    <ul>
      <% @spaeti_features.each do |feature| %>
          <li class="feature" data-id="<%= feature.id %>"><%= feature.name %></li>
      <% end %>
    </ul>
<% end %>