<%= form_for(@feature, :remote => true) do |f| %>
    <p>
      <%= f.number_field :sID %>
    </p>
    <%= f.label :name, "neues Feature:" %>
    <p>
      <%= f.text_field :name %>
    </p>
<% end %>
