<% for i in 1..5 %>
    <% points = @rate.points.to_int %>
    <% if i <= points %>
        <span class="rp rate <%= i %> true"></span>
    <% else %>
        <span class="rp rate <%= i %> false"></span>
    <% end %>
<% end %>